extends layout

block content
    div(id='gameDiv')

    script(src='/scripts/js/vendor/phaser.js')
    
    script(src='/scripts/js/enemytank.js')
    script(src='/scripts/js/update.js')
    script(src='/scripts/js/main.js')
