div.container
    h1= title
    h5 Enter your game's four digit code below
    if messages
        include flash/joinMessages
    form(action="/join", method="post")
        div.row
            div.col-md-6
                input.form-control(type="text", name="token" placeholder="Game token")
            div.col-md-6
                input.btn.btn-primary(type="submit", value="Submit")
    p= token
