doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body!= body
        block content
        
        include partials/footer
        
        script(src="/scripts/js/vendor/jquery-1.11.3.min.js")
        script(src="/scripts/js/vendor/bootstrap.min.js")
